---
layout: page
title: Categories
---

<div>
  {% for category in site.categories %}
  <div class="category-container">
	<a href="{{ category.url }}" style="color: #313131">
	  <span class="sub-headline"><i class="fa fa-folder-open-o" aria-hidden="true"></i> {{ category.title }}</span>
	  <span class="description">— {{ category.description }}</span>
	</a>
	{% assign recent_post = site.posts | where_exp: 'post', 'post.categories contains category.name' | first %}
	{% if recent_post %}
	<div style="margin: 10px">
	  <span class="description">최신 글</span>
	  <div>
	    <span class="category-title-brief">
	  	<a href={{ recent_post.url }}>
	  	  >> {{ recent_post.title }}
	  	  <span class="description"> · {{ recent_post.date | date_to_string }}</span>
	  	</a>
	    <span style="font-size: 12px;"></span>
	  </div>	  
	{% endif %}
    </div>
  </div>
  {% endfor %}
</div>